body{
    background-color:#1c6f92ce
}
.main-header {
    background-color: #d16364;
    font-style: oblique;
    font-weight: bold;
    font-size: medium;
}
.slider {
    animation-duration: 1s;
    animation-delay: 1s;
    font-style: italic;
    text-decoration-color: black;
   
}
